body {
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza todo o conteúdo da navbar */
  background-color: #333;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo-container {
  display: flex;
  align-items: center;
  position: absolute; /* Fixe a posição do logo e nome no início */
  left: 1rem; /* Ajuste a distância do lado esquerdo conforme necessário */
}

.logo {
  height: 50px; /* Ajuste essa altura conforme necessário */
  margin-right: 10px; /* Espaçamento entre o logo e o nome */
}

.site-name {
  color: white;
  font-size: 1.5rem; /* Ajuste o tamanho do texto conforme necessário */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: large;
}

.section {
  padding: 100px 20px;
  margin-top: 60px;
  height: 100vh;
  scroll-snap-align: start;
}

.section h2 {
  margin-top: 0;
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

#name{
  font-size: medium;
  display: flex;
  font-weight: bold;
}
