@import url('https://unpkg.com/swiper/swiper-bundle.min.css');

html {
    scroll-behavior: smooth;
}


body,
h1,
h2,
h3,
p,
ul,
li,
form,
input,
textarea,
button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

/* Cabeçalho */
header {
    position: relative;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
    color: #fff;
    padding: 1rem 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
a {
    color: inherit;             /* Mantém a cor do elemento pai */
    text-decoration: none;      /* Remove o sublinhado */
}

/* Logo */
.logo {
    position: absolute;
    left: 2rem;
    display: flex;
    align-items: center;
    z-index: 2;
    position: fixed;
    top: 5px;
    z-index: 3;

}

.logo img {
    height: 50px;
    margin-right: 0.75rem;

}

.logo span {
    font-size: 1rem;
    font-weight: bold;

}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    position: fixed;
    z-index: 2;
    background-color: #333333;
    height: 90px;
}

.nav-center {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding-left: 270px;
}

.nav-center ul {
    list-style: none;
    padding: 20px 0px 0px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* add this line */
}

.nav-center ul li {
    margin: 0 2rem;
}

.nav-center ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 0.8rem;
    padding: 1rem 1rem;
    transition: background 0.3s, color 0.3s;
    font-weight: bolder;
    border-radius: 25px;

}

.nav-center ul li a:hover {
    background: #406399;
    /* background: #DD3117; */

}

.nav-right {
    display: flex;
    align-items: center;
    padding: 20px 0px 0px;
}

.nav-right p {
    margin-right: 10px;
    font-size: 1rem;
}

.nav-right a {
    color: #fff;
    text-decoration: none;
    margin-right: 1rem;
}

.nav-right img {
    width: 50px;
    height: 50px;
    margin-right: 0.75rem;
    align-items: center;
}

.nav-center ul li a:hover {
    background: #406399;
    /* background: #DD3117; */
    border-radius: 25px;
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-right p {
    margin-right: 10px;
    font-size: 1rem;
}

.nav-right a {
    color: #fff;
    text-decoration: none;
    margin-right: 1rem;
}

.nav-right img {
    width: 50px;
    height: 50px;
    margin: rem;
}

/* Cronograma */
#schedule {
    padding: 50px 20px;
    /* background-color: #f9f9f9; */
    text-align: center;
}

.schedule-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    /* background-color: #fff; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    border-radius: 10px;
}

.schedule h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.schedule-description {
    font-size: 1.5rem;
    color: #333;
    margin: 20px 0;
}

.schedule-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
    padding: 10px;
}

/* Efeito de zoom ao passar o mouse */
.schedule-image:hover {
    transform: scale(1.05);
}

/* ----------------------------------- */
/* Seção Entrevistas */
/* ----------------------------------- */


#courses {
    padding: 50px 0;
    text-align: center;
    background-color: var(--color-light-grey); /* Cor de fundo diferente para diferenciar dos interviews */
    color: var(--color-dark-grey); /* Cor de texto para o conteúdo do curso */
    width: 100%;
}

.courses-title h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: var(--color-dark-blue); /* Cor personalizada para o título da seção */
}

.card-project {
    border-radius: 10px;
    transition: transform 0.3s;
    display: flex;
    gap: 20px;
    align-items: center; /* Alinha verticalmente imagem e texto */
    justify-content: flex-start; /* Garante que a imagem fique à esquerda */
}

.swiper {
    width: 100%;
    border-radius: 20px;
    background-color: #f0f4f8; /* Cor de fundo suave, azul claro */
    margin: 0 auto; /* Centraliza o swiper na página */
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinha o conteúdo ao topo */
    background-color: white; /* Fundo branco para os slides */
    border-radius: 15px; /* Borda arredondada para os slides */
    height: 400px; /* Altura fixa para os cards (ajuste conforme necessário) */
    overflow: hidden; /* Oculta o conteúdo que transborda */
    box-sizing: border-box; /* Garante que o padding não cause overflow */
    margin: 0; /* Remove qualquer margem que possa existir */
    padding: 0; /* Remove qualquer padding */
}

.course-info {
    flex: 1; /* Permite que o conteúdo preencha o espaço restante */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Garante que o conteúdo comece do topo */
}

.course-info p {
    font-size: 1.4rem;
    color: #555;
    margin: 0 auto 15px; /* Centraliza o bloco do parágrafo e adiciona espaçamento inferior */
    width: 80%; /* Define a largura do parágrafo */
    text-align: justify;
}




.card-project:hover {
    transform: scale(1.05);
}

.card-project img {
    width: 400px; /* Define um tamanho fixo para a imagem */
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    margin-top: 20px;

    /* Remova o margin-bottom para evitar separação vertical */
}

.course-info h2 {
    font-size: 1.5rem;
    margin: 10px 0;
    color: var(--color-dark-blue);
    text-align: center;
}

.course-info a {
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.course-info button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 20px;
}

.course-info button:hover {
    background-color: #0056b3;
}




/* ----------------------------------- */
/* Seção Livros */
/* ----------------------------------- */

#books {
    margin: 20px;
    text-align: center;
    /* Centraliza o texto dentro da seção */
}

.book-card {
    display: flex;
    /* Exibe o conteúdo em uma linha */
    align-items: flex-start;
    /* Alinha a imagem e o texto ao topo */
    gap: 20px;
    /* Espaçamento entre a imagem e o texto */
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    max-width: 800px;
    /* Limita a largura total do card */
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.book-card img {
    width: 300px;
    /* Define a largura da imagem */
    border-radius: 10px;
    object-fit: cover;
}

.book-info {
    flex: 1;
    display: flex;
    flex-direction: column;
}


.book-info h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}


.book-info p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 15px;
    text-align: justify;
}

.book-info a {
    text-decoration: none;
    display: flex;
    /* Adiciona flexbox ao link para centralizar o botão */
    justify-content: center;
    /* Centraliza o botão horizontalmente */
}

.book-info button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.book-info button:hover {
    background-color: #0056b3;
}

/* Seções */
section {
    padding: 4rem 2rem;
    text-align: center;
}

/* Rodapé */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 2rem;
}

#interviews {
    padding: 50px 0;
    text-align: center;
    background-color: var(--color-black);
    color: var(--color-white);
}

.interviews-title h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.card-interview {
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.card-interview:hover {
    transform: scale(1.05);
}

.interview-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.interview-content img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 100px;
}

.interview-content h3 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.interview-content p {
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
}

.video-container{
    margin-top: 30px;
}

/* Ajustes para dispositivos móveis (max-width: 767px) */
@media only screen and (max-width: 320px) {

    /* Logo */
    .logo {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .logo img {
        height: 30px; /* Ajuste menor para telas pequenas */
    }
    .logo span {
        font-size: 1.2rem;
        margin-right: 5rem;
    }

    /* Navbar */
    nav {
        flex-direction: column;
        height: 280px;
        padding: 10px;
        z-index: 2; 

    }
    .nav-center {
        padding: 0;
    }
    .nav-center ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 0;
    }
    .nav-center ul li {
        margin: 5px 0;
        padding-top: 11rem;
    }
    .nav-center ul li a {
        font-size: 0.41rem;
        padding: 0.5rem 1rem;
    }

    .nav-right {
        display: flex;
        align-items: center;
    }
    
    .nav-right p {
        font-size: 1.2rem;
        font-size: 1rem;
        text-align: center;
    }
    
    .nav-right a {
        color: #fff;
        text-decoration: none;
        margin: 0;
    }
    
    .nav-right img {
        height: 30px; /* Ajuste menor para telas pequenas */
        width: 30px;
        margin: 0 5px;
    }

    /* Schedule Section */
    #schedule {
        padding: 30px 10px;
        margin-top: 6rem;
    }
    .schedule-container {
        padding: 15px;
    }
    .schedule h2 {
        font-size: 1.5rem;
    }
    .schedule-description {
        font-size: 1rem;
    }
    .schedule-image {
        width: 100%;
        height: 100%;
        margin: 10px 0;
    }

    /* Courses Section */
    #courses {
        padding: 30px 0;
    }
    .card-project {
        flex-direction: column;
        align-items: center;
    }
    .card-project img {
        width: 90%; /* Ajusta para ocupar a maior parte da largura */
        margin-top: 10px;
    }
    .course-info h2 {
        font-size: 1.2rem;
    }
    .course-info p {
        font-size: 0.7rem;
        width: 90%;
    }
    .course-info button {
        font-size: 0.9rem;
        padding: 8px 15px;
    }

    /* Books Section */
    #books {
        padding: 20px 10px;
    }
    .book-card {
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }
    .book-card img {
        width: 80%;
        margin: 10px 0;
    }
    .book-info h2 {
        font-size: 1.3rem;
    }
    .book-info p {
        font-size: 0.7rem;
    }
    .book-info button {
        font-size: 0.9rem;
        padding: 8px 15px;
    }

    /* Interviews Section */
    #interviews {
        padding: 50px 0;
        text-align: center;
        background-color: var(--color-black);
        color: var(--color-white);
    }
    
    .interviews-title h2 {
        font-size: 2rem;
        margin-bottom: 20px;
    }
    
    .card-interview {
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s;
    }
    
    .card-interview:hover {
        transform: scale(1.05);
    }
    
    .interview-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .interview-content img {
        width: 100%;
        border-radius: 10px;
        margin-bottom: 100px;
    }
    
    .interview-content h3 {
        font-size: 1.5rem;
        margin: 10px 0;
    }
    
    .interview-content p {
        font-size: 1rem;
        line-height: 1.5;
        margin: 0;
    }
    
    .video-container{
        margin-top: 30px;
    }

    .card-project {
        border-radius: 10px;
        transition: transform 0.3s;
        display: flex;
        gap: 20px;
        align-items: center; /* Alinha verticalmente imagem e texto */
        justify-content: flex-start; /* Garante que a imagem fique à esquerda */
    }
    
    .swiper {
        width: 100%;
        border-radius: 20px;
        background-color: #f0f4f8; /* Cor de fundo suave, azul claro */
        margin: 0 auto; /* Centraliza o swiper na página */
    }
    
    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: flex-start; /* Alinha o conteúdo ao topo */
        background-color: white; /* Fundo branco para os slides */
        border-radius: 15px; /* Borda arredondada para os slides */
        height: 100px; /* Altura fixa para os cards (ajuste conforme necessário) */
        overflow: hidden; /* Oculta o conteúdo que transborda */
        box-sizing: border-box; /* Garante que o padding não cause overflow */
        margin: 0; /* Remove qualquer margem que possa existir */
        padding: 0; /* Remove qualquer padding */
    }

    /* Footer */
    footer {
        font-size: 0.9rem;
    }
}

@media only screen and (min-width: 321px) and (max-width: 375px){
      /* Logo */
      .logo {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .logo img {
        height: 30px; /* Ajuste menor para telas pequenas */
    }
    .logo span {
        font-size: 1.2rem;
        margin-right: 5rem;
    }

    /* Navbar */
    nav {
        flex-direction: column;
        height: 280px;
        padding: 10px;
        z-index: 2; 

    }
    .nav-center {
        padding: 0;
    }
    .nav-center ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 0;
    }
    .nav-center ul li {
        margin: 5px 0;
        padding-top: 11rem;
    }
    .nav-center ul li a {
        font-size: 0.53rem;
        padding: 0.5rem 1rem;
    }

    .nav-right {
        display: flex;
        align-items: center;
    }
    
    .nav-right p {
        font-size: 1.2rem;
        font-size: 1rem;
        text-align: center;
    }
    
    .nav-right a {
        color: #fff;
        text-decoration: none;
        margin: 0;
    }
    
    .nav-right img {
        height: 30px; /* Ajuste menor para telas pequenas */
        width: 30px;
        margin: 0 5px;
    }

    /* Schedule Section */
   
    .schedule-container {
        margin-top: 90px;

    }
    .schedule h2 {
        font-size: 1.5rem;
        margin-top: 90px;

    }
    .schedule-description {
        font-size: 1rem;
    }
    .schedule-image {
        width: 100%;
        height: 100%;
        margin: 10px 0;
    }

    /* Courses Section */
    #courses {
        padding: 30px 0;
    }
    .card-project {
        flex-direction: column;
        align-items: center;
    }
    .card-project img {
        width: 90%; /* Ajusta para ocupar a maior parte da largura */
        margin-top: 10px;
    }
    .course-info h2 {
        font-size: 1.2rem;
    }
    .course-info p {
        font-size: 0.7rem;
        width: 90%;
    }
    .course-info button {
        font-size: 0.9rem;
        padding: 8px 15px;
    }

    /* Books Section */
    #books {
        padding: 20px 10px;
    }
    .book-card {
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }
    .book-card img {
        width: 80%;
        margin: 10px 0;
    }
    .book-info h2 {
        font-size: 1.3rem;
    }
    .book-info p {
        font-size: 0.7rem;
    }
    .book-info button {
        font-size: 0.9rem;
        padding: 8px 15px;
    }

    /* Interviews Section */
    #interviews {
        padding: 30px 10px;
    }
    .interview-content img {
        width: 10%;
        margin: 10px 0;
    }
    .interview-content h3 {
        font-size: 1.2rem;
    }
    .interview-content p {
        font-size: 1rem;
    }

    /* Footer */
    footer {
        font-size: 0.9rem;
    }
}

@media only screen and (min-width: 376px) and (max-width: 540px){
      /* Logo */
      .logo {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .logo img {
        height: 30px; /* Ajuste menor para telas pequenas */
    }
    .logo span {
        font-size: 1.2rem;
        margin-right: 5rem;
    }

    /* Navbar */
    nav {
        flex-direction: column;
        height: 280px;
        padding: 10px;
        z-index: 2; 

    }
    .nav-center {
        padding: 0;
    }
    .nav-center ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 0;
    }
    .nav-center ul li {
        margin: 5px 0;
        padding-top: 11rem;
    }
    .nav-center ul li a {
        font-size: 0.61rem;
        padding: 0.5rem 1rem;
    }

    .nav-right {
        display: flex;
        align-items: center;
    }
    
    .nav-right p {
        font-size: 1.2rem;
        font-size: 1rem;
        text-align: center;
    }
    
    .nav-right a {
        color: #fff;
        text-decoration: none;
        margin: 0;
    }
    
    .nav-right img {
        height: 30px; /* Ajuste menor para telas pequenas */
        width: 30px;
        margin: 0 5px;
    }

    /* Schedule Section */
    #schedule {
        padding: 20px 10px;
        margin-top: 7rem;

    }
    .schedule-container {
        padding: 15px;
    }
    .schedule h2 {
        font-size: 1.5rem;
    }
    .schedule-description {
        font-size: 1rem;
    }
    .schedule-image {
        width: 100%;
        height: 100%;
        margin: 10px 0;
    }

    /* Courses Section */
    #courses {
        padding: 30px 0;
    }
    .card-project {
        flex-direction: column;
        align-items: center;
    }
    .card-project img {
        width: 90%; /* Ajusta para ocupar a maior parte da largura */
        margin-top: 10px;
    }
    .course-info h2 {
        font-size: 1.2rem;
    }
    .course-info p {
        font-size: 0.7rem;
        width: 90%;
    }
    .course-info button {
        font-size: 0.9rem;
        padding: 8px 15px;
    }

    /* Books Section */
    #books {
        padding: 20px 10px;
    }
    .book-card {
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }
    .book-card img {
        width: 80%;
        margin: 10px 0;
    }
    .book-info h2 {
        font-size: 1.3rem;
    }
    .book-info p {
        font-size: 0.7rem;
    }
    .book-info button {
        font-size: 0.9rem;
        padding: 8px 15px;
    }

    /* Interviews Section */
    #interviews {
        padding: 30px 10px;
    }
    .interview-content img {
        width: 10%;
        margin: 10px 0;
    }
    .interview-content h3 {
        font-size: 1.2rem;
    }
    .interview-content p {
        font-size: 1rem;
    }

    /* Footer */
    footer {
        font-size: 0.9rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1440px){
      /* Logo */
      .logo {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .logo img {
        height: 30px; /* Ajuste menor para telas pequenas */
    }
    .logo span {
        font-size: 1.2rem;
        margin-right: 5rem;
    }

    /* Navbar */
    nav {
        flex-direction: column;
        height: 280px;
        padding: 10px;
        z-index: 2; 

    }
    .nav-center {
        padding: 0;
    }
    .nav-center ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 0;
    }
    .nav-center ul li {
        margin: 5px 0;
        padding-top: 11rem;
    }
    .nav-center ul li a {
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
    }

    .nav-right {
        display: flex;
        align-items: center;
    }
    
    .nav-right p {
        font-size: 1.2rem;
        font-size: 1rem;
        text-align: center;
    }
    
    .nav-right a {
        color: #fff;
        text-decoration: none;
        margin: 0;
    }
    
    .nav-right img {
        height: 30px; /* Ajuste menor para telas pequenas */
        width: 30px;
        margin: 0 5px;
    }

    /* Schedule Section */
    #schedule {
        padding: 20px 10px;
    }
    .schedule-container {
        padding: 15px;
    }
    .schedule h2 {
        font-size: 1.5rem;
    }
    .schedule-description {
        font-size: 1rem;
    }
    .schedule-image {
        width: 100%;
        height: 100%;
        margin: 10px 0;
    }

    /* Courses Section */
    #courses {
        padding: 30px 0;
    }
    .card-project {
        flex-direction: column;
        align-items: center;
    }
    .card-project img {
        width: 90%; /* Ajusta para ocupar a maior parte da largura */
        margin-top: 10px;
    }
    .course-info h2 {
        font-size: 1.2rem;
    }
    .course-info p {
        font-size: 0.7rem;
        width: 90%;
    }
    .course-info button {
        font-size: 0.9rem;
        padding: 8px 15px;
    }

    /* Books Section */
    #books {
        padding: 20px 10px;
    }
    .book-card {
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }
    .book-card img {
        width: 80%;
        margin: 10px 0;
    }
    .book-info h2 {
        font-size: 1.3rem;
    }
    .book-info p {
        font-size: 0.7rem;
    }
    .book-info button {
        font-size: 0.9rem;
        padding: 8px 15px;
    }

    /* Interviews Section */
    #interviews {
        padding: 30px 10px;
    }
    .interview-content img {
        width: 10%;
        margin: 10px 0;
    }
    .interview-content h3 {
        font-size: 1.2rem;
    }
    .interview-content p {
        font-size: 1rem;
    }

    /* Footer */
    footer {
        font-size: 0.9rem;
    }
}





