@import url('https://unpkg.com/swiper/swiper-bundle.min.css');

html {
    scroll-behavior: smooth;
}


body,
h1,
h2,
h3,
p,
ul,
li,
form,
input,
textarea,
button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

/* Cabeçalho */
header {
    position: relative;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
    color: #fff;
    padding: 1rem 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Logo */
.logo {
    position: absolute;
    left: 2rem;
    display: flex;
    align-items: center;
    z-index: 2;
    position: fixed;
    top: 5px;
}

.logo img {
    height: 50px;
    margin-right: 0.75rem;
}

.logo span {
    font-size: 1rem;
    font-weight: bold;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #414141;
    height: 80px;
}

.nav-center {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding-left: 270px;
}

.nav-center ul {
    list-style: none;
    padding: 20px 0px 0px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* add this line */
}

.nav-center ul li {
    margin: 0 2rem;
}

.nav-center ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 0.8rem;
    padding: 1rem 1rem;
    transition: background 0.3s, color 0.3s;
    font-weight: bolder;
    border-radius: 25px;

}

.nav-center ul li a:hover {
    background: #406399;
    /* background: #DD3117; */

}

.nav-right {
    display: flex;
    align-items: center;
    padding: 20px 0px 0px;
}

.nav-right p {
    margin-right: 10px;
    font-size: 1rem;
}

.nav-right a {
    color: #fff;
    text-decoration: none;
    margin-right: 1rem;
}

.nav-right img {
    width: 50px;
    height: 50px;
    margin-right: 0.75rem;
    align-items: center;
}

.nav-center ul li a:hover {
    background: #406399;
    /* background: #DD3117; */
    border-radius: 25px;
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-right p {
    margin-right: 10px;
    font-size: 1rem;
}

.nav-right a {
    color: #fff;
    text-decoration: none;
    margin-right: 1rem;
}

.nav-right img {
    width: 50px;
    height: 50px;
    margin: rem;
}

/* Cronograma */
#schedule {
    padding: 50px 20px;
    /* background-color: #f9f9f9; */
    text-align: center;
}

.schedule-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    /* background-color: #fff; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    border-radius: 10px;
}

.schedule h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.schedule-description {
    font-size: 1.5rem;
    color: #333;
    margin: 20px 0;
}

.schedule-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
    padding: 10px;
}

/* Efeito de zoom ao passar o mouse */
.schedule-image:hover {
    transform: scale(1.05);
}

/* ----------------------------------- */
/* Seção Entrevistas */
/* ----------------------------------- */


#interviews {
    padding: 50px 0;
    text-align: center;
    background-color: var(--color-black);
    color: var(--color-white);
}

.interviews-title h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.card-interview {
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.card-interview:hover {
    transform: scale(1.05);
}

.interview-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.interview-content img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.interview-content h3 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.interview-content p {
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
}



/* ----------------------------------- */
/* Seção Livros */
/* ----------------------------------- */

#books {
    margin: 20px;
    text-align: center;
    /* Centraliza o texto dentro da seção */
}

.book-card {
    display: flex;
    /* Exibe o conteúdo em uma linha */
    align-items: flex-start;
    /* Alinha a imagem e o texto ao topo */
    gap: 20px;
    /* Espaçamento entre a imagem e o texto */
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    max-width: 800px;
    /* Limita a largura total do card */
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.book-card img {
    width: 300px;
    /* Define a largura da imagem */
    border-radius: 10px;
    object-fit: cover;
}

.book-info {
    flex: 1;
    display: flex;
    flex-direction: column;
}


.book-info h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}


.book-info p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 15px;
    text-align: justify;
}

.book-info a {
    text-decoration: none;
    display: flex;
    /* Adiciona flexbox ao link para centralizar o botão */
    justify-content: center;
    /* Centraliza o botão horizontalmente */
}

.book-info button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.book-info button:hover {
    background-color: #0056b3;
}

/* Seções */
section {
    padding: 4rem 2rem;
    text-align: center;
}

/* Rodapé */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 2rem;
}

#courses {
    margin: 20px;
    text-align: center;
}

.course-card {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.course-card img {
    width: 300px;
    border-radius: 10px;
    object-fit: cover;
}

.course-info {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.course-info h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.course-info p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 15px;
    text-align: justify;
}

.course-info a {
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.course-info button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.course-info button:hover {
    background-color: #0056b3;
}



