@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body, h1, h2, h3, p, ul, li, form, input, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

/* Cabeçalho */
header {
    position: relative;
}

.header-content {
    display: flex;
    justify-content: center; 
    align-items: center;
    background: #333;
    color: #fff;
    padding: 1rem 2rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Logo */
.logo {
    position: absolute; 
    left: 2rem; 
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px; 
    margin-right: 0.75rem;
}

.logo span {
    font-size: 1rem;
    font-weight: bold;
}
 /* Navbar */
nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 20px;
    width: 100%;
}

.nav-center {
    flex-grow: 1;
    display: flex;
    justify-content: center; 
    padding-left: 270px;
}

.nav-center ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.nav-center ul li {
    margin: 0 1.5rem;
}

.nav-center ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 0.8rem;
    padding: 1rem 1rem;
    transition: background 0.3s, color 0.3s;
    font-weight: bolder;
    border-radius: 25px;

}

.nav-center ul li a:hover {
    background: #406399;
    /* background: #DD3117; */
    border-radius: 25px;
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-right p{
    margin-right: 10px;
    font-size: 1rem;
}
.nav-right a {
    color: #fff;
    text-decoration: none;
    margin-right: 1rem;
}

.nav-right img {
    width: 50px;
    height: 50px;
    margin: rem;
}

/* ----------------------------------- */
/* Seção Home */
/* ----------------------------------- */

.home {
    position: relative;
    height: 100vh;
    background-image: url('/assets/Paisage_Home.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
}

.home h1 {
    font-size: 4rem;
    margin-bottom: 0.5rem;
}

.home p {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.cta-button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background: #ff5722;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    transition: background 0.3s;
}

.cta-button:hover {
    background: #e64a19;
}

/* ----------------------------------- */
/* Seção Sobre Nós */
/* ----------------------------------- */

#about {
    background: #fff;
    border-bottom: 1px solid #ddd;
}

#about p {
    justify-content: center;
    padding: 100px;
    align-items: center;
    font-size: 25px;
}

/* ----------------------------------- */
/* Seção Lama Glenn Mullin */
/* ----------------------------------- */

#mentor-section {
    padding: 40px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    max-width: 1500px;
    margin: 40px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    flex-direction: column;

}

.section-title {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

.mentor-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    margin-bottom: 20px; /* Espaçamento entre as seções */
}

.image-container {
    flex: 0 0 40%;
    margin-right: 30px;
}

.image-container img {
    width: 400px; /* Tamanho das imagens */
    height: auto;
    border-radius: 8px; /* Bordas arredondadas, opcional */
    margin-bottom: 10px; 
    margin-top: 10px;
}

.text-container {
    flex: 1; /* Ocupa o espaço restante */
    text-align: justify;
    margin-left: 20px;
}



.text-container p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 10px;
    margin-top: 50px;
    text-indent: 20px; /* Recuo no início do parágrafo para maior legibilidade */
}


.mentor-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.mentor-info p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: justify;
    text-indent: 20px;
}

figure {
    text-align: center;
    margin: 0;
    padding: 0;
}

figcaption {
    font-size: 0.9em;
    color: #555;
    margin-top: 5px;
}

/* Seções */
section {
    padding: 4rem 2rem;
    text-align: center;
}

/* Rodapé */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 2rem;
}

.sanghas-section {
    text-align: center;
    padding: 40px 20px;
    background-color: #f9f9f9;
  }

.sanghas-section h2{
    margin-bottom: 70px;
}
  
  .sanghas-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; /* Espaço entre as Sanghas */
  }
  
  .sangha {
    display: flex;
    align-items: flex-start; /* Alinha os itens no topo */
    flex: 1 1 400px;
    max-width: 600px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    text-align: left;
  }
  
  .sangha img {
    max-width: 200px;
    margin-right: 20px; /* Espaço entre a imagem e o texto */
  }
  
  .sangha-text {
    display: flex;
    flex-direction: column; /* Empilha o título e o texto */
  }
  
  .sangha h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .sangha p {
    font-size: 1em;
    color: #666;
  }

  .sangha-text button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    width: 200px;
    display: block;  /* Certifique-se de que o botão seja um bloco */
    margin: 10px auto;  /* Centraliza o botão */
}

.sangha-text a{
    color: black;
    text-decoration: none;
}

button:hover {
    background-color: #0056b3;
}


  
  
  
  
